@use '../globals/utlis' as u;
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: u.rem(40);
    max-width: min(100% - u.rem(40),u.rem(1000));
    padding-left: u.rem(20);
    padding-right: u.rem(20);

    @include u.breakpoint(large) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }


         &_main,
         &_aside {
             padding: u.rem(30);
         }

    &_main {
        background-color: #FED766;
        @include u.breakpoint(medium) {
                background-color: rgb(155, 230, 43);
            }
                         @include u.breakpoint(large) {
                             background-color: rgb(248, 59, 248);
                         }
                         }

    &_aside {
                                    
    @include u.breakpoint-down(medium) {
    text-align: center;
    }

    @include u.breakpoint-down(small) {
        text-align: right;
    }
  }
  &_widget {
    padding: u.rem(16);
    background-color: #17A398;

    &.green {
            background-color: rgb(36, 197, 36);
        }

    &.magenta{
            background-color: rgb(236, 36, 243);
        }
  }
}