* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191111;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    li {
        list-style: none;
        margin: 20px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    span {
        img {
            margin: 20px;
        }
    }
}
div {
    img {
        width: 100vw;
        height: auto;
    }
    #left {
        animation-name: left;
        animation-duration: 3s;
        animation-timing-function: ease-in;
    }
    #right {
        animation-name: right;
        animation-duration: 2.5s;
        animation-timing-function: ease-in;
    }
}

@keyframes left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes right {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#elipse {
    img {
        width: 100vw;
        height: auto;
    }
}